/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background:whitesmoke;
  width: 100%;
}

.carousel-cell {
  width: 28%;
  height: 100%;
  margin-right: 10px;
  background:black;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell.is-selected {
  /* background: #ED2; */
}

#content{
  height: 100%;
}



